.logo {
  background-color: var(--color-brand-green);
  display: block;
  transition: all 0.25s;
  max-width: 100%;

  svg {
    width: 100%;
    height: 100%;
  }


  &.small {
    width: 100px;
    height: 100px;
  }

  &.medium {
    width: 133px;
    height: 133px;
  }

  &.large {
    width: 170px;
    height: 175px;
  }


}
