:root {
  --color-brand-green: #69c350;
  --color-brand-black: #000000;
  --color-brand-dark-grey: #333333;
  --color-brand-grey: #666666;
  --color-brand-light-grey: #B2B2B2;
  --color-brand-light-grey-2: #F3F4F2;
  --color-brand-white: #ffffff;
  --color-error: #ff0000;
  --color-brand-white: #ffffff;
}
