.twoColContent {
  position: relative;
}

.twoColContentGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;

  @media (min-width: $screen-md) {
    grid-template-columns: 1fr 1fr;
  }
}